html{
  height: 100%;
}
body{
  height: 100%;
  color: #666;
  background: #f1f1f1;
}
#root{
  height: 100%;
  overflow: hidden;
}
p{
  margin:0;
  padding:0;
}
.align-center{
  text-align: center;
}

.container{
  height: 100%;
 .slide{
   min-width: 100px;
   height: 100%;
   background:#fff;
 }
  .main{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}